<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.mapper.PhotoMapper">

    <insert id="insert" parameterType="com.love.entity.Photo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO photo (couple_code, photo_url, remark, upload_time)
        VALUES (#{coupleCode}, #{photoUrl}, #{remark}, NOW())
    </insert>

    <select id="listByCoupleCode" resultType="com.love.entity.Photo">
        SELECT * FROM photo WHERE couple_code = #{coupleCode} ORDER BY upload_time DESC
    </select>

    <select id="selectById" resultType="com.love.entity.Photo">
        SELECT * FROM photo WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM photo WHERE id = #{id}
    </delete>

</mapper>
